<a href="https://colab.research.google.com/github/matthewbegun/MXN500/blob/main/MXN500_2024_LEC_03_R.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MXN500 Lecture 3 (R)

## Data Types in R

In [ ]:
# A "string" or character variable in R is anything entered in quotes.
character_string <- "This is a string"
single_character <- "a"
character_vector <- c("a", "b", "b", "c", "a")
str(character_string)
str(single_character)
str(character_vector[1])
str(character_vector)

 chr "This is a string"
 chr "a"
 chr "a"
 chr [1:5] "a" "b" "b" "c" "a"

In [ ]:
# Selecting with vectors
sel_vec <- c(1,2,4)
character_vector[sel_vec]
character_vector[c(1,2,4)]

# Sorting with vectors
sort_vec <- c(4,1,2)
character_vector[sort_vec]

# Selection *and* sorting
sort2_vec <- c(3,1,2)
sel2_vec <- sel_vec[sort2_vec]
str(sel2_vec)
character_vector[sel2_vec]

# Composed select + sort
character_vector[sel_vec[sort2_vec]]

[1] "a" "b" "c"

[1] "a" "b" "c"

[1] "c" "a" "b"

 num [1:3] 4 1 2

[1] "c" "a" "b"

[1] "c" "a" "b"

In [ ]:
# A factor variable is how R treats categories of data.
factor_vector <- as.factor(character_vector)
str(factor_vector)
levels(factor_vector)

 Factor w/ 3 levels "a","b","c": 1 2 2 3 1

[1] "a" "b" "c"

In [ ]:
library(tidyverse)
# To create a data frame with categorical variables, use a vector of strings.
# This vector is treated as a factor by default.
hml_df <- data.frame(category = c("High", "Medium", "Low"))
summary(hml_df)
str(hml_df)
hml_df

   category
 Length:3
 Class :character
 Mode  :character

'data.frame':	3 obs. of  1 variable:
 $ category: chr  "High" "Medium" "Low"

  category
1 High
2 Medium
3 Low

In [ ]:
# Factors default to an alphabetical order:
factor(hml_df$category)

[1] High   Medium Low
Levels: High Low Medium

In [ ]:
# To change the order, you need to provide levels.
hml_df_ordered_factors <- hml_df
hml_df_ordered_factors$category <-
  factor(hml_df_ordered_factors$category,
         levels = c("Low", "Medium", "High")) # change the levels

In [ ]:
# Compare the result:
factor(hml_df$category) # Order we don't want.
factor(hml_df_ordered_factors$category) # Order we want.

[1] High   Medium Low
Levels: High Low Medium

[1] High   Medium Low
Levels: Low Medium High

In [ ]:
# Beware of strings defaulting to factors in data frames. While this is the
# default, you Can turn this off if you want:
hml_characters_df <- data.frame(category = c("High", "Medium", "Low"),
                                stringsAsFactors = FALSE)
str(hml_characters_df)
summary(hml_characters_df)
hml_characters_df

'data.frame':	3 obs. of  1 variable:
 $ category: chr  "High" "Medium" "Low"

   category
 Length:3
 Class :character
 Mode  :character

  category
1 High
2 Medium
3 Low

In [ ]:
# Look what happens to these "numbers". Need to be careful to make sure you
# data is the correct type.
num_df <- data.frame(numbers = c("3.14", "-2", "15"))
str(num_df)
class(num_df$numbers)
mean(num_df$numbers)

'data.frame':	3 obs. of  1 variable:
 $ numbers: chr  "3.14" "-2" "15"

[1] "character"

Warning message in mean.default(num_df$numbers):
“argument is not numeric or logical: returning NA”

[1] NA

In [ ]:
# To make the data numeric need to change it's type
now_numbers <- as.numeric(num_df$numbers)
str(now_numbers)
mean(now_numbers)

 num [1:3] 3.14 -2 15

[1] 5.38

In [ ]:
# Be careful of these steps, can cause uncaught problems!
more_numbers <- c(2, 6, "*8")
mean(more_numbers)
str(more_numbers)

Warning message in mean.default(more_numbers):
“argument is not numeric or logical: returning NA”

[1] NA

 chr [1:3] "2" "6" "*8"

In [ ]:
# OK fix this issue through 'coercion' i.e. `as.numeric()`
now_more_numbers = as.numeric(more_numbers)
mean(now_more_numbers, na.rm = T)
str(now_more_numbers)

# Takeaway - retain intermediate steps as seperate variables while you are developing
#  your code / analysis

Warning message in eval(expr, envir, enclos):
“NAs introduced by coercion”

[1] 4

 num [1:3] 2 6 NA

In [ ]:
# change in the data frame
num_df$numbers = as.numeric(as.character(num_df$numbers))
str(num_df$numbers)
summary(num_df)

 num [1:3] 3.14 -2 15

    numbers
 Min.   :-2.00
 1st Qu.: 0.57
 Median : 3.14
 Mean   : 5.38
 3rd Qu.: 9.07
 Max.   :15.00

In [ ]:
# or
library(dplyr) # in general, best to put library calls a the start of the file
num_df = mutate(num_df,
                numbers = as.numeric(as.character(numbers)))
str(num_df$numbers)
summary(num_df)

 num [1:3] 3.14 -2 15

    numbers
 Min.   :-2.00
 1st Qu.: 0.57
 Median : 3.14
 Mean   : 5.38
 3rd Qu.: 9.07
 Max.   :15.00

In [ ]:
# of course you can also just provide the data in a
# numberic format - ie. no quotations
num_df <- data.frame(numbers = c(3.14, -2, 15))
str(num_df)
class(num_df$numbers)

'data.frame':	3 obs. of  1 variable:
 $ numbers: num  3.14 -2 15

[1] "numeric"

## Functions in R
Name the function (left hand side) and the inputs (right
hand side, in brackets). Then, everything those inputs are used for are
contained within "squiggly" brackets, {}. These are also called "braces".

In [ ]:
# Some basic examples:
add_one <- function(x){
  x_new <- x + 1
  return(x_new)
}
str(add_one)
# In this case, a function called "add_one" is a function which takes some
# input, x, adds one to it, and returns the result.

function (x)
 - attr(*, "srcref")= 'srcref' int [1:8] 2 12 5 1 12 1 2 5
  ..- attr(*, "srcfile")=Classes 'srcfilecopy', 'srcfile' <environment: 0x5815c890c550>

In [ ]:
# Test it out
add_one(5)
add_one(c(1,2,3,4))
x <- add_one(0)
x

[1] 6

[1] 2 3 4 5

[1] 1

In [ ]:
# And break it
add_one("a")
# Note that the error message isn't very helpful - what is `x+1`?
# We don't know if we can't see inside the fucntion

ERROR: Error in x + 1: non-numeric argument to binary operator

In [ ]:
# Here's another:
make_negative <- function(x){
  x_new <- -x
  return(x_new)
}
make_negative(-6)
make_negative(1:10)

[1] 6

 [1]  -1  -2  -3  -4  -5  -6  -7  -8  -9 -10

In [ ]:
# Check how they work.
x <- 1
add_one(x)
make_negative(x)

# This `x` is different from the `x` in the function. Confusing!
# Better to use meaningful variable names.

[1] 2

[1] -1

In [ ]:
# Interested in applying them one after each other? Composition of functions:
x_new <- make_negative(add_one(x))
x_new

[1] -2

## Pipes in R
The "pipe" operator, `%>%`, takes an object (an output, variable, or other R
object) and sends it into the next function as the first argument of the
function after the pipe.

The pipe can be difficult to work with at first, but it can be useful for
speeding up your R work once you get used to it.

In [ ]:
# For example, the pipe we can our code clear and readable
# x_new <- make_negative(add_one(x))
x_new <- x %>%
  add_one() %>%
  make_negative()
x_new

[1] -2

Let's consider some real data and real use cases. We are going to use data
from the `Lahman` package. This package is all about baseball.

In [ ]:
install.packages("Lahman") # Install the package.
library(Lahman) # Load the package.
? Lahman # Read the help so you know what's in the package.

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [ ]:
data(Batting) # Get the data.

dim(Batting) # Get a feel for the data (how big).
# View(Batting)
head(Batting) # What variables look like.
# ? Batting # Column name definitions.

[1] 112184     22

  playerID  yearID stint teamID lgID G  AB  R  H  X2B ⋯ RBI SB CS BB SO IBB HBP
1 abercda01 1871   1     TRO    NA    1   4  0  0  0  ⋯  0  0  0  0  0  NA  NA
2 addybo01  1871   1     RC1    NA   25 118 30 32  6  ⋯ 13  8  1  4  0  NA  NA
3 allisar01 1871   1     CL1    NA   29 137 28 40  4  ⋯ 19  3  1  2  5  NA  NA
4 allisdo01 1871   1     WS3    NA   27 133 28 44 10  ⋯ 27  1  1  0  2  NA  NA
5 ansonca01 1871   1     RC1    NA   25 120 29 39 11  ⋯ 16  6  2  2  1  NA  NA
6 armstbo01 1871   1     FW1    NA   12  49  9 11  2  ⋯  5  0  1  0  1  NA  NA
  SH SF GIDP
1 NA NA 0
2 NA NA 0
3 NA NA 1
4 NA NA 0
5 NA NA 0
6 NA NA 0

In [ ]:
# For reshaping we need our favourite:
library(tidyverse)

In [ ]:
# Let's look a one player, Manny Ramirez
manny <- filter(Batting, playerID == "ramirma02")

In [ ]:
# Remember to use a logical operator to filter.
x = 1  # Single equals assigns in this case.
x == 1 # Double equals is asked are these two things equal.
x == 2

[1] TRUE

[1] FALSE

In [ ]:
# What info do we have on Manny?
nrow(manny)
View(manny)

[1] 21

   playerID  yearID stint teamID lgID G   AB  R   H   X2B ⋯ RBI SB CS BB  SO
1  ramirma02 1993   1     CLE    AL    22  53   5   9  1  ⋯   5 0  0    2   8
2  ramirma02 1994   1     CLE    AL    91 290  51  78 22  ⋯  60 4  2   42  72
3  ramirma02 1995   1     CLE    AL   137 484  85 149 26  ⋯ 107 6  6   75 112
4  ramirma02 1996   1     CLE    AL   152 550  94 170 45  ⋯ 112 8  5   85 104
5  ramirma02 1997   1     CLE    AL   150 561  99 184 40  ⋯  88 2  3   79 115
6  ramirma02 1998   1     CLE    AL   150 571 108 168 35  ⋯ 145 5  3   76 121
7  ramirma02 1999   1     CLE    AL   147 522 131 174 34  ⋯ 165 2  4   96 131
8  ramirma02 2000   1     CLE    AL   118 439  92 154 34  ⋯ 122 1  1   86 117
9  ramirma02 2001   1     BOS    AL   142 529  93 162 33  ⋯ 125 0  1   81 147
10 ramirma02 2002   1     BOS    AL   120 436  84 152 31  ⋯ 107 0  0   73  85
11 ramirma02 2003   1     BOS    AL   154 569 117 185 36  ⋯ 104 3  1   97  94
12 ramirma02 2004   1     BOS    AL   152 568 108 175 44  ⋯ 130 2  4   82 124
13 ramirma02 2005   1     BOS    AL   152 554 112 162 30  ⋯ 144 1  0   80 119
14 ramirma02 2006   1     BOS    AL   130 449  79 144 27  ⋯ 102 0  1  100 102
15 ramirma02 2007   1     BOS    AL   133 483  84 143 33  ⋯  88 0  0   71  92
16 ramirma02 2008   1     BOS    AL   100 365  66 109 22  ⋯  68 1  0   52  86
17 ramirma02 2008   2     LAN    NL    53 187  36  74 14  ⋯  53 2  0   35  38
18 ramirma02 2009   1     LAN    NL   104 352  62 102 24  ⋯  63 0  1   71  81
19 ramirma02 2010   1     LAN    NL    66 196  32  61 15  ⋯  40 1  1   32  38
20 ramirma02 2010   2     CHA    AL    24  69   6  18  1  ⋯   2 0  0   14  23
21 ramirma02 2011   1     TBA    AL     5  17   0   1  0  ⋯   1 0  0    0   4
   IBB HBP SH SF GIDP
1   0   0  0   0  3
2   4   0  0   4  6
3   6   5  2   5 13
4   8   3  0   9 18
5   5   7  0   4 19
6   6   6  0  10 18
7   9  13  0   9 12
8   9   3  0   4  9
9  25   8  0   2  9
10 14   8  0   1 13
11 28   8  0   5 22
12 15   6  0   7 17
13  9  10  0   6 20
14 16   1  0   8 13
15 13   7  0   8 21
16  8   8  0   0 12
17 16   3  0   4  5
18 21   7  0   1  7
19  4   1  0   3  4
20  0   5  0   0  2
21  0   0  0   0  0

In [ ]:
# Let's look at some tools to get some summary stats:
# unique values
n_distinct(c("a", "a", "b"))

[1] 2

In [ ]:
# concatenate values / variables
paste("a", "b", sep = "-")

# paste defaults to " " as the seperator
paste("a","b","c")
paste("a","b","c", sep = ";")
paste("a","b","c", sep = "")

[1] "a-b"

[1] "a b c"

[1] "a;b;c"

[1] "abc"

In [ ]:

# `paste0()` is a short cut for no seperator
paste0("a","b","c")

[1] "abc"

In [ ]:
# works with other objects (variables, functions)
a <- "hello"
b <- "world"
paste(a,b,42)
paste0(paste(a,b,42),"!")

[1] "hello world 42"

[1] "hello world 42!"

In [ ]:
# sums
sum(1:3)

[1] 6

In [ ]:
manny_stats <- summarise(manny,
                         span = paste(min(yearID), max(yearID), sep = "-"),
                         numYears = n_distinct(yearID),
                         numTeams = n_distinct(teamID),
                         BA = sum(H)/ sum(AB),
                         tH = sum(H),
                         tHR = sum(HR),
                         tRBI = sum(RBI))
head(manny_stats)

  span      numYears numTeams BA        tH   tHR tRBI
1 1993-2011 19       5        0.3122271 2574 555 1831

In [ ]:
# With the pipe, you could do this:
manny_being_manny <- Batting %>%
  filter(playerID == "ramirma02") %>%
  summarise(span = paste(min(yearID), max(yearID), sep = "-"), # Note also the paste() function here.
            numYears = n_distinct(yearID),
            numTeams = n_distinct(teamID),
            BA = sum(H) / sum(AB),
            tH = sum(H),
            tHR = sum(HR),
            tRBI = sum(RBI))

head(manny_being_manny)

  span      numYears numTeams BA        tH   tHR tRBI
1 1993-2011 19       5        0.3122271 2574 555 1831

In [ ]:
# Might be interesting to break the stats down by team:
manny_team_stats <- Batting %>%
  filter(playerID == "ramirma02") %>%
  group_by(teamID) %>% # added in a group operator
  summarise(span = paste(min(yearID), max(yearID), sep = "-"),
            numYears = n_distinct(yearID),
            numTeams = n_distinct(teamID),
            BA = sum(H) / sum(AB),
            tH = sum(H),
            tHR = sum(HR),
            tRBI = sum(RBI))
head(manny_team_stats)

  teamID span      numYears numTeams BA         tH   tHR tRBI
1 BOS    2001-2008 8        1        0.31166203 1232 274 868
2 CHA    2010-2010 1        1        0.26086957   18   1   2
3 CLE    1993-2000 8        1        0.31296830 1086 236 804
4 LAN    2008-2010 3        1        0.32244898  237  44 156
5 TBA    2011-2011 1        1        0.05882353    1   0   1

In [ ]:
# To make the data more intuitive / readable.
# Might want to reorder by the years played for each team.
# Can use arrange for that.
example <- data.frame(number = c(2, 5, 1))
arrange(example, number)

  number
1 1
2 2
3 5

In [ ]:
manny_team_stats <- Batting %>%
  filter(playerID == "ramirma02") %>%
  group_by(teamID) %>%
  summarise(span = paste(min(yearID), max(yearID), sep = "-"),
            numYears = n_distinct(yearID),
            numTeams = n_distinct(teamID),
            BA = sum(H)/ sum(AB),
            tH = sum(H),
            tHR = sum(HR),
            tRBI = sum(RBI)) %>%
  arrange(span) # Now arrange by the span

head(manny_team_stats) # almost, of course Boston should be on top...

  teamID span      numYears numTeams BA         tH   tHR tRBI
1 CLE    1993-2000 8        1        0.31296830 1086 236 804
2 BOS    2001-2008 8        1        0.31166203 1232 274 868
3 LAN    2008-2010 3        1        0.32244898  237  44 156
4 CHA    2010-2010 1        1        0.26086957   18   1   2
5 TBA    2011-2011 1        1        0.05882353    1   0   1

## Joins in R

In [ ]:
# Let's start with a toy example:
df1 <- data.frame(number = 1:3,
                 first_letters = c("a", "b", "c"))
df1

df2 <- data.frame(number = c(1:2, NA_real_, 4),
                 last_letters = c("w", "x", "y", "z"))
df2

# terminology of joins is Left and Right sides, so could use:
dfL <- df1
dfR <- df2

  number first_letters
1 1      a
2 2      b
3 3      c

  number last_letters
1  1     w
2  2     x
3 NA     y
4  4     z

Lot's of different ways to combine this data!

In [ ]:
# Rows must exist in both data sets,
# Bi-directional:
inner_join(dfL, dfR)

Joining with `by = join_by(number)`

  number first_letters last_letters
1 1      a             w
2 2      b             x

In [ ]:
# Combine everything:
full_join(dfL, dfR)

Joining with `by = join_by(number)`

  number first_letters last_letters
1  1     a             w
2  2     b             x
3  3     c             NA
4 NA     NA            y
5  4     NA            z

In [ ]:
# Rows must exist in the first data set.
# Directional joins - order matters:
left_join(df1, df2) # Add df2 to df1.
left_join(df2, df1) # Add df1 to df2.

Joining with `by = join_by(number)`

  number first_letters last_letters
1 1      a             w
2 2      b             x
3 3      c             NA

Joining with `by = join_by(number)`

  number last_letters first_letters
1  1     w            a
2  2     x            b
3 NA     y            NA
4  4     z            NA

In [ ]:
# Now lets combine some real data sets
# Can use Master and batting data from Lahman package
data(Batting)
dim(Batting)
data(People)
dim(People)

[1] 112184     22

[1] 20676    26

In [ ]:
# first let's understand what we will join
# Manny - just get his data
manny_data <- Batting %>%
  filter(playerID == "ramirma02")
nrow(manny_data)
head(manny_data)

[1] 21

  playerID  yearID stint teamID lgID G   AB  R   H   X2B ⋯ RBI SB CS BB SO  IBB
1 ramirma02 1993   1     CLE    AL    22  53   5   9  1  ⋯   5 0  0   2   8 0
2 ramirma02 1994   1     CLE    AL    91 290  51  78 22  ⋯  60 4  2  42  72 4
3 ramirma02 1995   1     CLE    AL   137 484  85 149 26  ⋯ 107 6  6  75 112 6
4 ramirma02 1996   1     CLE    AL   152 550  94 170 45  ⋯ 112 8  5  85 104 8
5 ramirma02 1997   1     CLE    AL   150 561  99 184 40  ⋯  88 2  3  79 115 5
6 ramirma02 1998   1     CLE    AL   150 571 108 168 35  ⋯ 145 5  3  76 121 6
  HBP SH SF GIDP
1 0   0   0  3
2 0   0   4  6
3 5   2   5 13
4 3   0   9 18
5 7   0   4 19
6 6   0  10 18

In [ ]:
# combine using common entries in both
inner_join_batting_people <- manny_data %>%
  inner_join(People, by = "playerID")
head(inner_join_batting_people)

  playerID  yearID stint teamID lgID G   AB  R   H   X2B ⋯ weight height bats
1 ramirma02 1993   1     CLE    AL    22  53   5   9  1  ⋯ 225    72     R
2 ramirma02 1994   1     CLE    AL    91 290  51  78 22  ⋯ 225    72     R
3 ramirma02 1995   1     CLE    AL   137 484  85 149 26  ⋯ 225    72     R
4 ramirma02 1996   1     CLE    AL   152 550  94 170 45  ⋯ 225    72     R
5 ramirma02 1997   1     CLE    AL   150 561  99 184 40  ⋯ 225    72     R
6 ramirma02 1998   1     CLE    AL   150 571 108 168 35  ⋯ 225    72     R
  throws debut      finalGame  retroID  bbrefID   deathDate birthDate
1 R      1993-09-02 2011-04-06 ramim002 ramirma02 <NA>      1972-05-30
2 R      1993-09-02 2011-04-06 ramim002 ramirma02 <NA>      1972-05-30
3 R      1993-09-02 2011-04-06 ramim002 ramirma02 <NA>      1972-05-30
4 R      1993-09-02 2011-04-06 ramim002 ramirma02 <NA>      1972-05-30
5 R      1993-09-02 2011-04-06 ramim002 ramirma02 <NA>      1972-05-30
6 R      1993-09-02 2011-04-06 ramim002 ramirma02 <NA>      1972-05-30

In [ ]:
# most of the time join functions are clever enough
# to know what to join by
inner_join_batting_people <- manny_data %>%
  inner_join(People)

Joining with `by = join_by(playerID)`

In [ ]:
# playerID is the only common column in this example
names_batting <- names(Batting)
names_people <- names(People)
intersect(names_batting, names_people)

[1] "playerID"

In [ ]:
# Let's look at what happened
View(inner_join_batting_people)
# basically, repeat the player details for each row of the players' batting
# stats.

In [ ]:
# What if we used left_join instead
left_join_batting_people <- manny_data %>%
  left_join(People)
head(left_join_batting_people)
# same thing, because common rows in Manny player data were the constraint.

Joining with `by = join_by(playerID)`

  playerID  yearID stint teamID lgID G   AB  R   H   X2B ⋯ weight height bats
1 ramirma02 1993   1     CLE    AL    22  53   5   9  1  ⋯ 225    72     R
2 ramirma02 1994   1     CLE    AL    91 290  51  78 22  ⋯ 225    72     R
3 ramirma02 1995   1     CLE    AL   137 484  85 149 26  ⋯ 225    72     R
4 ramirma02 1996   1     CLE    AL   152 550  94 170 45  ⋯ 225    72     R
5 ramirma02 1997   1     CLE    AL   150 561  99 184 40  ⋯ 225    72     R
6 ramirma02 1998   1     CLE    AL   150 571 108 168 35  ⋯ 225    72     R
  throws debut      finalGame  retroID  bbrefID   deathDate birthDate
1 R      1993-09-02 2011-04-06 ramim002 ramirma02 <NA>      1972-05-30
2 R      1993-09-02 2011-04-06 ramim002 ramirma02 <NA>      1972-05-30
3 R      1993-09-02 2011-04-06 ramim002 ramirma02 <NA>      1972-05-30
4 R      1993-09-02 2011-04-06 ramim002 ramirma02 <NA>      1972-05-30
5 R      1993-09-02 2011-04-06 ramim002 ramirma02 <NA>      1972-05-30
6 R      1993-09-02 2011-04-06 ramim002 ramirma02 <NA>      1972-05-30

In [76]:
# What if we change the order?
left_join_people_batting <- People %>%
  left_join(manny_data)
head(left_join_people_batting)


# We don't just get the information about Manny.
# Can see we have no stats for the other players.
# Join order is important!
# Have to think about what you need before you join your data.

Joining with `by = join_by(playerID)`

  playerID  birthYear birthMonth birthDay birthCountry birthState birthCity
1 aardsda01 1981      12         27       USA          CO         Denver
2 aaronha01 1934       2          5       USA          AL         Mobile
3 aaronto01 1939       8          5       USA          AL         Mobile
4 aasedo01  1954       9          8       USA          CA         Orange
5 abadan01  1972       8         25       USA          FL         Palm Beach
6 abadfe01  1985      12         17       D.R.         La Romana  La Romana
  deathYear deathMonth deathDay ⋯ RBI SB CS BB SO IBB HBP SH SF GIDP
1   NA      NA         NA       ⋯ NA  NA NA NA NA NA  NA  NA NA NA
2 2021       1         22       ⋯ NA  NA NA NA NA NA  NA  NA NA NA
3 1984       8         16       ⋯ NA  NA NA NA NA NA  NA  NA NA NA
4   NA      NA         NA       ⋯ NA  NA NA NA NA NA  NA  NA NA NA
5   NA      NA         NA       ⋯ NA  NA NA NA NA NA  NA  NA NA NA
6   NA      NA         NA       ⋯ NA  NA NA NA NA NA  NA  NA NA NA

In [75]:
# Actually wish I'd done it this way in the lecture for consistency!
# filter(left_join_people_batting, playerID == "ramirma02")
left_join_people_batting %>%
  filter(, playerID == "ramirma02")

   playerID  birthYear birthMonth birthDay birthCountry birthState
1  ramirma02 1972      5          30       D.R.         Distrito Nacional
2  ramirma02 1972      5          30       D.R.         Distrito Nacional
3  ramirma02 1972      5          30       D.R.         Distrito Nacional
4  ramirma02 1972      5          30       D.R.         Distrito Nacional
5  ramirma02 1972      5          30       D.R.         Distrito Nacional
6  ramirma02 1972      5          30       D.R.         Distrito Nacional
7  ramirma02 1972      5          30       D.R.         Distrito Nacional
8  ramirma02 1972      5          30       D.R.         Distrito Nacional
9  ramirma02 1972      5          30       D.R.         Distrito Nacional
10 ramirma02 1972      5          30       D.R.         Distrito Nacional
11 ramirma02 1972      5          30       D.R.         Distrito Nacional
12 ramirma02 1972      5          30       D.R.         Distrito Nacional
13 ramirma02 1972      5          30       D.R.         Distrito Nacional
14 ramirma02 1972      5          30       D.R.         Distrito Nacional
15 ramirma02 1972      5          30       D.R.         Distrito Nacional
16 ramirma02 1972      5          30       D.R.         Distrito Nacional
17 ramirma02 1972      5          30       D.R.         Distrito Nacional
18 ramirma02 1972      5          30       D.R.         Distrito Nacional
19 ramirma02 1972      5          30       D.R.         Distrito Nacional
20 ramirma02 1972      5          30       D.R.         Distrito Nacional
21 ramirma02 1972      5          30       D.R.         Distrito Nacional
   birthCity     deathYear deathMonth deathDay ⋯ RBI SB CS BB  SO  IBB HBP SH
1  Santo Domingo NA        NA         NA       ⋯   5 0  0    2   8  0   0  0
2  Santo Domingo NA        NA         NA       ⋯  60 4  2   42  72  4   0  0
3  Santo Domingo NA        NA         NA       ⋯ 107 6  6   75 112  6   5  2
4  Santo Domingo NA        NA         NA       ⋯ 112 8  5   85 104  8   3  0
5  Santo Domingo NA        NA         NA       ⋯  88 2  3   79 115  5   7  0
6  Santo Domingo NA        NA         NA       ⋯ 145 5  3   76 121  6   6  0
7  Santo Domingo NA        NA         NA       ⋯ 165 2  4   96 131  9  13  0
8  Santo Domingo NA        NA         NA       ⋯ 122 1  1   86 117  9   3  0
9  Santo Domingo NA        NA         NA       ⋯ 125 0  1   81 147 25   8  0
10 Santo Domingo NA        NA         NA       ⋯ 107 0  0   73  85 14   8  0
11 Santo Domingo NA        NA         NA       ⋯ 104 3  1   97  94 28   8  0
12 Santo Domingo NA        NA         NA       ⋯ 130 2  4   82 124 15   6  0
13 Santo Domingo NA        NA         NA       ⋯ 144 1  0   80 119  9  10  0
14 Santo Domingo NA        NA         NA       ⋯ 102 0  1  100 102 16   1  0
15 Santo Domingo NA        NA         NA       ⋯  88 0  0   71  92 13   7  0
16 Santo Domingo NA        NA         NA       ⋯  68 1  0   52  86  8   8  0
17 Santo Domingo NA        NA         NA       ⋯  53 2  0   35  38 16   3  0
18 Santo Domingo NA        NA         NA       ⋯  63 0  1   71  81 21   7  0
19 Santo Domingo NA        NA         NA       ⋯  40 1  1   32  38  4   1  0
20 Santo Domingo NA        NA         NA       ⋯   2 0  0   14  23  0   5  0
21 Santo Domingo NA        NA         NA       ⋯   1 0  0    0   4  0   0  0
   SF GIDP
1   0  3
2   4  6
3   5 13
4   9 18
5   4 19
6  10 18
7   9 12
8   4  9
9   2  9
10  1 13
11  5 22
12  7 17
13  6 20
14  8 13
15  8 21
16  0 12
17  4  5
18  1  7
19  3  4
20  0  2
21  0  0